*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1.5em 0;
  background: #6589f9;
}

.grid {
  max-width: 80em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: .5em;
  background-color: #6589f9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 12em;
  width: 12em;
}

.selected {
  border: .4em solid blue;
}

.match {
  border: .4em solid red;
  background-image: none !important;
}